<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><span class="fa fa-lock"></span> DoorLock Log</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a class="transit" href="/">Home</a>
                        </li>
                        <li class="active">
                            <strong>DoorLock Log</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        <div class="wrapper wrapper-content">
<div class="row">
<pre>
<%= @logs %>
</pre>
</div>
</div>
</div>
